chat_app/node_modules/
server/node_modules/



# dependencies
node_modules/

# Expo
chat_app/.expo/
chat_app/dist/
chat_app/web-build/
chat_app/expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

